section
{
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 80px;
    padding-bottom: 50px;
}
article
{
    border: 1px solid black;
    background-color: crimson;
    padding: 25px 50px 75px 100px;
}